.dream-mask-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.mask-fade-enter {
    opacity: 0;
}
.mask-fade-enter-active {
    opacity: 0.5;
    transition: opacity 200ms;
}
.mask-fade-enter-done {
    opacity: 0.5;
}

.mask-fade-exit {
    opacity: 0.5;
}
.mask-fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
